#root {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  justify-content: center;
  text-align: center;
  direction: rtl;
  width: 100%;
  max-width: 430px;
  height: 91vh;
  background-color: #E9DDF4;
  font-family: 'askim';
  overflow: hidden;
  position: relative;
}
.logoTill {
  width: 3.5rem;
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.logos {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 0.51rem;
  padding-right: 15rem;
  max-width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  position: absolute;
}
.logoMifkada {
  height: 2.8rem;
}
.hadrahaLogo {
  height: 2.8rem;
}
.schoolLogo {
  height: 2.8rem;
}

@font-face {
  font-family: "assistant-reg";
  src: url("../assets/fonts/Assistant-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "assistant-bold";
  src: url("../assets/fonts/Assistant-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "fredoka";
  src: url("../assets/fonts/Fredoka-VariableFont_wdth,wght.ttf") format("truetype");
}

.about-btn {
  position: absolute;
  border: none;
  color: #ffffff;
  font-size: 2rem;
  background-color: #804B8B;
  border-radius: 150px;
  width: 3rem;
  height: 3rem;
  right: 0.5rem;
  top: 0.5rem;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  cursor: pointer;
}

.div-about {
  position: absolute;
  color: #ffffff;
  width: 14rem;
  height: 25rem;
  right: 3rem;
  top: 4rem;
  font-family: "assistant";
  background: #804B8B;
  border-radius: 1rem;
  box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: opacity 0.4s ease;
  z-index: 2;
}

.list-text-about {
  transition: background-color 0.5s ease;
  margin: 3.5%;
}

.list-text-about:hover {
  background-color: #dbdbdb;
}

.fade-in {
  opacity: 1;
  pointer-events: auto;
  max-height: 500px;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
  max-height: 0;
}
