.endStory-text {
    font-size: 1.7rem;
    width: 21rem;
    background-color: white;
    color: #804B8B;
    font-family: 'fredoka';
    padding: 3rem;
    margin-bottom: 1rem;
    position: relative;
    top: 8rem;
    font-weight: 500;
    border-radius: 10px;
}

.endStoryBtn {
    position: relative;
    top: 9rem;
    font-size: 1.5rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.08);
    }

    100% {
        transform: scale(1);
    }
}

.endStory-bold {
    font-weight: 700;
}
