.flip-card {
    background-color: transparent;
    width: 10rem;
    height: 15rem;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/* כשהכרטיס flipped */
.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    border-radius: 0.8rem;
    overflow: hidden;
    color: white;
    background-color: #804B8B;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-card-back {
    background-color: #4a1953;
    border-radius: 0.8rem;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.change-bag-size {
    width: 12rem;
    height: 12rem;
    font-size: 1.3rem;
}

.textBack {
    padding: 5%;
    font-size: 0.8rem;
    font-family: assistant;
}

.textFront {
    font-size: 2rem;
    font-family: assistant;
}

@media (max-width: 350px) {
    .flip-card {
        width: 9rem;
        height: 13rem;
    }
    .textFront {
        font-size: 1.8rem;
    }
    .textBack {
        padding: 3%;
        font-size: 0.75rem;
    }
    
}
@media (max-height: 750px) {
    .flip-card {
        width: 9rem;
        height: 13rem;
    }
    .textFront {
        font-size: 1.8rem;
    }
    .textBack {
        padding: 3%;
        font-size: 0.75rem;
    }
}
@media (max-height: 700px) {
    .flip-card {
        height: 12rem;
    }
    .textBack {
        padding: 2%;
        font-size: 0.7rem;
    }
}
