#american-questions {
    display: flex;
    z-index: 1;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    direction: rtl;

}

.row-ques {
    display: flex;
    margin: 5% 0% 5% 0%;
    justify-content: center;
}

.title-questionMultiple {
    font-size: 2.2rem;
    width: 40rem;
    color: #804B8B;
    font-family: 'fredoka';
    margin-bottom: 1rem;
    position: relative;
    top: 3rem;
}

.done-ques-btn {
    position: absolute;
    width: 5rem;
    left: -1rem;
    bottom: -2rem;
    cursor: pointer;
}

.pulse-button-hover {
    background-color: #804B8B;
    cursor: pointer;
    border: none;
    width: 9rem;
    height: 6rem;
    font-size: 1.3rem;
    color: #ffffff;
    border-radius: 2rem;
    font-family: 'assistant-bold';
    display: flex;
    align-items: center;
    justify-content: center;
}

.pulse-button-hover:hover {
    animation: borderPulse 4000ms infinite ease-out, hoverShine 200ms;
}

.in-last-ques {
    width: 13.3rem;
    height: 8.9rem;
    font-size: 1.3rem;
}

@keyframes borderPulse {
    0% {
        box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, 0.4),
            0px 0px 0px 0px rgba(255, 255, 255, 1);
    }

    100% {
        box-shadow: inset 0px 0px 0px 3px rgba(24, 24, 176, 0.2),
            0px 0px 0px 10px rgba(255, 255, 255, 0);
    }
}

@keyframes hoverShine {
    0% {
        background-image: linear-gradient(135deg,
                rgba(255, 255, 255, 0.4) 0%,
                rgba(255, 255, 255, 0) 50%,
                rgba(255, 255, 255, 0) 100%);
    }

    50% {
        background-image: linear-gradient(135deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.4) 50%,
                rgba(255, 255, 255, 0) 100%);
    }

    100% {
        background-image: linear-gradient(135deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0) 50%,
                rgba(255, 255, 255, 0.4) 100%);
    }
}

.correct {
    background-color: green;
}

.wrong {
    background-color: rgb(247, 23, 23);
}

.div-mulQ {
    width: 22rem;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.4);
    position: relative;
    min-height: 15rem;
    top: 5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem;
    padding: 1.5rem;
}


@keyframes hoverShine {
    0% {
        background-image: linear-gradient(135deg,
                rgba(255, 255, 255, 0.4) 0%,
                rgba(255, 255, 255, 0) 50%,
                rgba(255, 255, 255, 0) 100%);
    }

    50% {
        background-image: linear-gradient(135deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.4) 50%,
                rgba(255, 255, 255, 0) 100%);
    }

    100% {
        background-image: linear-gradient(135deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0) 50%,
                rgba(255, 255, 255, 0.4) 100%);
    }
}


.fix-explain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.explain-protocol {
    width: 30rem;
    margin-top: 1rem;
}

.explain-text {
    margin: 0.3rem;
}

@media screen and (max-width: 600px) {


    #american-questions {
        height: 91vh;
        margin-top: -7rem;
    }

    .done-ques-btn {
        position: absolute;
        width: 5rem;
        left: 1rem;
        bottom: -3rem;
    }

    .title-questionMultiple {
        width: 100%;
    }

    .in-last-ques {
        height: 9.9rem;
    }
}

@media (max-width: 360px) {
    .div-mulQ {
        width: 19rem;
    }
    .pulse-button-hover {
        width: 8rem;
    }
}